{% extends 'base.html' %}
{% block body %}
    <div class="container my-4">
        <h1>Results according to: "{{ search_text }}"</h1>
    </div>

    <div class="d-flex justify-content-evenly bd-highlight mx-auto w-75">
        <div class="row justify-content-center">
            {% for product in items %}

                <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                    <div class="card h-100">
                        <img class="card-img-top" src="{{ product.picture }}"/>
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                {{ product.category }}
                                <p>{{ product.price }} tg</p>
                            </div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="product/{{ product.id }}">Details</a>
                                <div class="text-center mt-2">
                                    <a href="/add-to-cart/{{ product.id }}?next=/search-products?text=pop"
                                        class="btn btn-dark">Add to Basket</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}